@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Custom props */
:root {
  --primary: hsl(179, 62%, 43%);
  --primary-light: hsla(179, 62%, 43%, .85);
  --highlight: hsl(71, 73%, 54%);
  --neutral-light: hsl(204, 43%, 93%);
  --neutral-dark: hsl(218, 22%, 67%);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Core elements */
html, body {
  font-family: Karla, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

h2, h3 {
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 1.25rem;
  padding-bottom: 24px;
}

h3 {
  font-size: 1.125rem;
  padding-bottom: 18px;
}

/* Utilities */
.container {
  margin: auto;
  overflow: auto;
  padding: 0 24px;
}

.bg-dark {
  background: var(--primary);
}

.py-1 {
  padding: 24px 0;
}

.py-2 {
  padding: 28px 0;
}

/* Header */
header h2 {
  color: var(--primary);
}

header p {
  color: var(--neutral-dark);
  line-height: 26px;
}

header .guarantee {
  color: var(--highlight);
  font-size: 0.9375rem;
  padding-bottom: 16px;
}

header .access {
  font-size: 0.875rem;
}

/* Info section */
#info {
  color: white;
}

/* Subscription */
#subscription .price-container {
  padding-bottom: 10px;
  display: table-cell;

}
#subscription .price {
  display: table-cell;
  font-size: 2em;
  font-weight: bold;
  vertical-align: middle;
}

#subscription .price-period {
  display: table-cell;
  opacity: 0.5;
  padding-left: 11px;
  vertical-align: middle;
}

#subscription .btn {
  display: inline-block;
  color: white;
  background: var(--highlight);
  border: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 14px;
  margin-top: 26px;
  font-size: 1rem;
}

/* Why us */
#why-us {
  background: var(--primary-light)
}

#why-us li {
  list-style-type: none;
  font-size: 0.875rem;
  line-height: 20px;
  opacity: 0.75;
}
