@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Custom props */
:root {
  --primary: hsl(179, 62%, 43%);
  --primary-light: hsla(179, 62%, 43%, .85);
  --highlight: hsl(71, 73%, 54%);
  --neutral-light: hsl(204, 43%, 93%);
  --neutral-dark: hsl(218, 22%, 67%);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Core elements */
html, body {
  font-family: Karla, Tahoma, Geneva, Verdana, sans-serif;
}

h2, h3 {
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 1.25rem;
  padding-bottom: 24px;
}

h3 {
  font-size: 1.125rem;
  padding-bottom: 18px;
}

/* Utilities */
.container {
  margin: auto;
  overflow: auto;
  padding: 0 24px;
}

.bg-dark {
  background: var(--primary);
}

.py-1 {
  padding: 24px 0;
}

.py-2 {
  padding: 28px 0;
}

/* Header */
header h2 {
  color: var(--primary);
}

header p {
  color: var(--neutral-dark);
  line-height: 26px;
}

header .guarantee {
  color: var(--highlight);
}

/* Info section */
#info {
  color: white;
}

/* Subscription */

#subscription p {
  padding-bottom: 10px;
}
#subscription .price {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
}

#subscription .price-period {
  display: inline-block;
  opacity: 0.5;
  padding-left: 11px;
  position: relative;
  top: -6px;
}

/* Why us */
#why-us {
  background: var(--primary-light)
}

#why-us li {
  list-style-type: none;
}
